.admin-listing__list {
	margin: 0;
    padding: 0;
    list-style: none;
}


.admin-listing__header {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
  height: 38px;
}

.admin-listing__item {
	display: flex;
	flex-direction: row;
	margin-bottom: 36px;
    height: 88px;
}

/* Style Header  */

.admin-listing__header-name {
	width: 15%;
	text-align:  left;
	margin-right: 2%;
}


.admin-listing__header-description {
	width: 38%;
	text-align:  left;
}

.admin-listing__header-quantity {
	width: 15%;
	text-align:  center;
}

.admin-listing__header-price {
	width: 15%;
	text-align:  center;
}

.admin-listing__header-action {
	width: 15%;
	text-align:  center;
}

/*  Style Item */

.admin-listing__item > div {
	display: flex;
	align-items: center;
}

.admin-listing__item-main {
	justify-content: flex-start;
	margin-right: 2%;
}

.admin-listing__item-description {
	justify-content: flex-start;
	overflow: hidden;
}

.admin-listing__item-price {
	width: 15%;
	justify-content: center;
}

.admin-listing__item-quantity {
	width: 15%;
	justify-content: center;
}

.admin-listing__item-action {
	width: 15%;
	justify-content: center;
	flex-direction: column;
}

.admin-listing__item-title {
	
}

.admin-listing__item-text {

}




.admin-listing__item-btn-update {
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 60px !important;
	height: 40px !important;
	text-decoration: none;
	color: #ffffff !important;
	background-color: green !important;
	outline:  none !important;
	border-radius: 0px !important;
	border-color:  green !important;
}

.admin-listing__item-btn-disable {
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 60px !important;
	height: 40px !important;
	text-decoration: none;
	color: #ffffff !important;
	background-color: red !important;
	outline:  none !important;
	border-radius: 0px !important;
	border-color:  red !important;

}

/* Hide input arrow  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}