.cart-listing__list {
	margin: 0;
    padding: 0;
    list-style: none;
}


.cart-listing__header {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
  height: 38px;
}

.cart-listing__item {
	display: flex;
	flex-direction: row;
	margin-bottom: 36px;
    height: 88px;
}

/* Style Header  */

.cart-listing__header-name {
	width: 55%;
	text-align:  left;
}

.cart-listing__header-quantity {
	width: 15%;
	text-align:  center;
}

.cart-listing__header-price {
	width: 15%;
	text-align:  center;
}

.cart-listing__header-action {
	width: 15%;
	text-align:  center;
}

/*  Style Item */

.cart-listing__item > div {
	display: flex;
	align-items: center;
}

.cart-listing__item-main {
	width: 55%;
	justify-content: flex-start;
}

.cart-listing__item-price {
	width: 15%;
	justify-content: center;
}

.cart-listing__item-quantity {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.cart-listing__item-action {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}



/* Additional Style for Price  */

.cart-listing__item-price-plus {
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 25px !important;
	height: 25px !important;
	text-decoration: none;
	color: #ffffff !important;
	background-color: green !important;
}

.cart-listing__item-price-minus {
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 25px !important;
	height: 25px !important;
	text-decoration: none;
	color: #ffffff !important;
	background-color: red !important;
}

.cart-listing__item-price-input {
	width: 50px !important;
	text-align:  center;
}


.cart-listing__item-btn-delete {
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 60px !important;
	height: 40px !important;
	text-decoration: none;
	color: #ffffff !important;
	background-color: red !important;
	outline:  none !important;
}


/* Hide input arrow  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}