.history-listing__list {
	width:  100%;
}

.history-listing__list > li {
	margin-bottom:  50px;
}

.history-listing__item {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.history-listing__order {
	display: flex;
	align-items: center;
	background-color: #e4e4e4;
	height: 50px;
	margin-bottom:  10px;
	padding-left: 20px;
}

.history-listing__description {
	padding-left: 20px;

}