.red {
	color: red;
}

.product-listing__list {
	padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.product-listing__item {
	position: relative;
    margin-bottom: 24px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
}

.product-listing__item > div {
	width: 100% !important;
	height: 100%;
	overflow:  hidden;
}




